# MySQL Database

DB_HOST=127.0.0.1
DB_USER=your_mysql_username
DB_PASSWORD=your_mysql_password
DB_NAME=college_digital_wallet


# Payment Token Secrets

ONLINE_TOKEN_SECRET=change_this_online_secret
OFFLINE_TOKEN_SECRET=change_this_offline_secret


# Flask

FLASK_SECRET_KEY=change_this_flask_secret
